<!-- #start Header -->
<header>
  <div class="container d-flex justify-content-between align-items-center">
    <div class="logo">
      <a href="">
        <img src="./assets/logo.svg" alt="Demo Shop" />
      </a>
    </div>

    <nav class="menu">
      <ul>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
      </ul>
    </nav>

    <div class="hamburger-menu" (click)="openMenu()">
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
    </div>
  </div>
</header>
<!-- #end Header -->

<!-- #start Payment page -->
<section id="payment">
  <div class="container d-flex justify-content-between align-items-start">
    <!-- #start payment holder -->
    <div class="payment-holder d-flex justify-content-between align-content-center">
      <div class="card-side">
        <div class="back-step">
          <p><i class="icon-left"></i> <span>Alterar forma de pagamento</span></p>
        </div>

        <div class="steps">
          <p><strong>Etapa 2</strong> de 3</p>
        </div>

        <h3>
          <i class="ico-card"></i>
          Adicione um novo <br />cartão de crédito
        </h3>

        <div class="credit-card-box" [ngClass]="{'brand' : cardBrand}" (click)="flipCard()">
          <div class="flip">
            <div class="front">
              <div class="logo">
                <img *ngIf="cardBrand" src="/assets/cards/{{cardBrand}}.svg" alt="cardBrand" />
              </div>

              <div class="number">{{numCard}}</div>

              <div class="card-holder">
                <div>{{nameCard}}</div>
              </div>
              <div class="card-expiration-date">
                <div>{{dateCard}}</div>
              </div>
            </div>

            <div class="back">
              <div class="strip"></div>

              <div class="ccv">
                <label>CCV</label>
                <div>{{cvvCard}}</div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="form-side">
        <!-- #start Steps holder desktop -->
        <nav>
          <ul class="menu">
            <li class="active">
              <span class="step">
                <i class="icon-checkmark"></i> 1
              </span>
              Carrinho

              <i class="icon-right"></i>
            </li>

            <li>
              <span class="step">
                <i class="icon-checkmark"></i> 2
              </span>
              Pagamento

              <i class="icon-right"></i>
            </li>

            <li>
              <span class="step">
                <i class="icon-checkmark"></i> 3
              </span>
              Confirmação
            </li>
          </ul>
        </nav>
        <!-- #end Steps holder desktop -->

        <form [formGroup]="paymentForm" (ngSubmit)="validaForm(paymentForm.value);">
          <div class="line">
            <div class="full">
              <mat-form-field appearance="fill" [ngClass]="{'error' : formError['num'] == true}">
                <mat-label>Número do cartão</mat-label>
                <input matInput type="text" oncopy="return false" oncut="return false" onpaste="return false" autocomplete="off" pattern="[0-9]*" inputmode="numeric" [brmasker]="{mask:'9999 9999 9999 9999', len:19, type:'num'}" maxlength="19" formControlName="cardNum" (keyup)="checkNumCard()" (focus)="openFrontCard()" />
                <span class="error-message" *ngIf="formError['num'] == true">Número de cartão inválido</span>
              </mat-form-field>
            </div>
          </div>

          <div class="line">
            <div class="full">
              <mat-form-field appearance="fill" [ngClass]="{'error' : formError['name'] == true}">
                <mat-label>Nome (igual ao cartão)</mat-label>
                <input matInput type="text" oncopy="return false" oncut="return false" onpaste="return false" autocomplete="off" formControlName="cardName" (keyup)="checkNameCard()" (focus)="openFrontCard()" />
                <span class="error-message" *ngIf="formError['name'] == true">Insira seu nome completo</span>
              </mat-form-field>
            </div>
          </div>

          <div class="line">
            <div class="medium">
              <mat-form-field appearance="fill" [ngClass]="{'error' : formError['expire'] == true}">
                <mat-label>Validade</mat-label>
                <input matInput type="text" oncopy="return false" oncut="return false" onpaste="return false" autocomplete="off" pattern="[0-9]*" inputmode="numeric" [brmasker]="{mask:'99/99', len:5, type:'num'}" maxlength="5" placeholder="00/00" formControlName="cardExpire" (keyup)="checkDateCard()" (focus)="openFrontCard()" />
                <span class="error-message" *ngIf="formError['expire'] == true">Data inválida</span>
              </mat-form-field>
            </div>

            <div class="medium">
              <mat-form-field appearance="fill" [ngClass]="{'error' : formError['cvv'] == true}">
                <mat-label>CVV <i class="icon-information"></i></mat-label>
                <input matInput type="text" oncopy="return false" oncut="return false" onpaste="return false" autocomplete="off" pattern="[0-9]*" inputmode="numeric" [brmasker]="{mask:'9999', len:4, type:'num'}" maxlength="4" formControlName="cardCVV" (keyup)="checkCvvCard()" (focus)="openCVV()" (blur)="closeCVV()" />
                <span class="error-message" *ngIf="formError['cvv'] == true">Código inválido</span>
              </mat-form-field>
            </div>
          </div>

          <div class="line">
            <div class="full">
              <mat-form-field appearance="fill" class="select-field" [ngClass]="{'error' : formError['installments'] == true}">
                <mat-label>Parcelas</mat-label>
                <mat-select formControlName="installments">
                  <mat-option value="1">1x sem juros</mat-option>
                  <mat-option value="2">2x sem juros</mat-option>
                  <mat-option value="3">3x sem juros</mat-option>
                  <mat-option value="4">4x sem juros</mat-option>
                  <mat-option value="5">5x sem juros</mat-option>
                  <mat-option value="6">6x sem juros</mat-option>
                  <mat-option value="7">7x sem juros</mat-option>
                </mat-select>
                <span class="error-message" *ngIf="formError['installments'] == true">Insira o número de parcelas</span>
              </mat-form-field>
            </div>
          </div>

          <div class="line">
            <div class="button-submit">
              <button type="submit" class="btn">Continuar</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <!-- #end payment holder -->

    <!-- #start billing holder -->
    <div class="billing-holder">
      <p class="cart-name"></p>

      <ul class="cart-infos">
        <li>
          <span class="product-name"></span>
          <span class="product-value"></span>
        </li>

        <li>
          <span class="product-name"></span>
          <span class="product-value"></span>
        </li>

        <li>
          <span class="product-name"></span>
          <span class="product-value"></span>
        </li>
      </ul>

      <p class="total-cart">
        <span class="total-name"></span>
        <span class="total-value"></span>
      </p>
    </div>
    <!-- #end billing holder -->
  </div>
</section>
<!-- #end Payment page -->

<!-- #start Modal response -->
<div id="modal" class="response" [ngClass]="{'show' : showModal == true}">
  <div class="content-modal">
    <div class="close-modal" (click)="closeModal()">x</div>

    <h6 [innerHTML]="messageTitle"></h6>
    <pre [innerHTML]="messageText"></pre>
  </div>
</div>
<!-- #end Modal response -->
