//Payment page
#payment {
  width: 100%;
  margin: 65px 0;

  .payment-holder {
    width: 75%;
    background: linear-gradient(#DE4B4B 0, #DE4B4B 100%) left top/35% 100% repeat-y #fff;
  }

  .card-side {
    position: relative;
    width: 40%;
    padding: 50px 0 50px 50px;

    .back-step {

      p {
        cursor: pointer;
        font-size: 13px;
        letter-spacing: -0.01px;
        color: #fff;
        margin: 0;

        i {
          margin-right: 7px;
        }
      }
    }

    .steps {
      display: none;

      p {
        font-family: "Verdana";
        font-size: 13px;
        color: #fff;
        margin: 0;
      }
    }

    h3 {
      display: flex;
      align-items: center;
      font-size: 20px;
      color: #fff;
      margin: 60px 0 30px;
    }
  }

  .form-side {
    width: 50%;
    padding: 50px 50px 50px 0;

    .menu {
      display: flex;
      justify-content: flex-end;
      padding: 0;
      margin: 0;

      li {
        cursor: default;
        display: flex;
        align-items: center;
        font-size: 13px;
        color: #DE4B4B;
        margin-left: 15px;
        &:first-child {
          margin-left: 0;
        }
        &.active {

          .step {
            background-color: #DE4B4B;

            i {
              opacity: 1;
            }
          }
        }

        .step {
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 22px;
          height: 22px;
          font-weight: 700;
          color: #DE4B4B;
          border: 2px solid #DE4B4B;
          border-radius: 100%;
          margin-right: 7px;
          -webkit-transition: 0.25s ease;
          transition: 0.25s ease;

          i {
            opacity: 0;
            position: absolute;
            top: 50%;
            left: 50%;
            z-index: 2;
            color: #fff;
            -webkit-transform: translate(-50%, -50%);
            transition: 0.25s ease;
          }
        }

        .icon-right {
          margin-left: 15px;
        }
      }
    }

    form {
      width: 100%;
      margin-top: 60px;
    }

    mat-form-field {
      border-bottom: 1px solid #C9C9C9;
      &.error {
        border-bottom-color: #EB5757;
      }
    }
  }

  .billing-holder {
    width: calc(25% - 10px);
    background-color: #fff;
    padding: 50px 15px;

    p {
      margin: 0;
    }

    .cart-name, .product-name, .total-name, .product-value, .total-value {
      height: 12px;
      background-color: #F7F7F7;
      border-radius: 5px;
    }

    .cart-name, .product-name, .total-name {
      width: calc(100% - 44px - 30px);
    }

    li, .total-cart {
      display: flex;
      justify-content: space-between;
    }

    .cart-name {
      height: 18px;
    }

    .cart-infos {
      border-top: 1px solid #707070;
      border-bottom: 1px solid #707070;
      padding: 25px 0;
      margin: 25px 0;
    }

    li {
      margin-bottom: 10px;
      &:last-child {
        margin-bottom: 0;
      }
    }

    .product-value, .total-value {
      width: 44px;
    }

    .total-name, .total-value {
      background-color: #C9C9C9;
    }
  }

  @media (max-width: 1199px) {

    .container {
      flex-wrap: wrap;
      justify-content: center !important;
    }

    .payment-holder {
      width: 100%;
    }

    .billing-holder {
      width: 100%;
      max-width: 350px;
      margin-top: 30px;
    }
  }

  @media (max-width: 991px) {

    .payment-holder {
      flex-wrap: wrap;
      background: #fff;
    }

    .card-side, .form-side {
      width: 100%;
    }

    .card-side {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      background: #DE4B4B;
      padding: 40px 40px 0;

      .back-step {
        position: absolute;
        top: 40px;
        left: 20px;

        p {
          font-size: 16px;

          span {
            display: none;
          }
        }
      }

      .steps {
        display: block;
      }

      h3 {
        margin-top: 40px;
      }

      .credit-card-box {
        margin-bottom: -100px;
      }
    }

    .form-side {
      padding: 110px 40px 40px;

      nav {
        display: none;
      }

      form {
        margin-top: 0;
      }
    }
  }
}

//Credit card layout
.credit-card-box {
  cursor: pointer;
  -webkit-perspective: 1000;
  perspective: 1000;
  width: 300px;
  height: 210px;
  &.hover .flip {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }
  &.brand {

    .front, .back {
      background: linear-gradient(135deg, #284e66, #415f73);
    }
  }

  .front, .back {
    position: absolute;
    width: 300px;
    height: 188px;
    font-family: "Verdana";
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
    color: #fff;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.3);
    background: linear-gradient(135deg, #727272, #a7a7a7);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    top: 0;
    left: 0;
    border-radius: 8px;
  }

  .flip {
    -webkit-transition: 0.6s;
    transition: 0.6s;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    position: relative;
  }

  .logo {
    position: absolute;
    top: 9px;
    left: 20px;
    width: 60px;

    svg, img {
      width: 100%;
      height: auto;
      fill: #fff;
    }
  }

  .front {
    z-index: 2;
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: url("/assets/payment/credit-card.svg") no-repeat center;
      background-size: cover;
    }
  }

  .back {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);

    .logo {
      top: 185px;
    }
  }

  .chip {
    position: absolute;
    width: 60px;
    height: 45px;
    top: 20px;
    left: 20px;
    background: linear-gradient(135deg, #ddccf0 0%, #d1e9f5 44%, #f8ece7 100%);
    border-radius: 8px;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      border: 4px solid rgba(128, 128, 128, 0.1);
      width: 80%;
      height: 70%;
      border-radius: 5px;
    }
  }

  .strip {
    background: linear-gradient(135deg, #404040, #1a1a1a);
    position: absolute;
    width: 100%;
    height: 40px;
    top: 30px;
    left: 0;
  }

  .number {
    position: absolute;
    margin: 0 auto;
    top: 93px;
    left: 19px;
    font-family: "Verdana";
    font-size: 18px;
  }

  label {
    font-size: 10px;
    letter-spacing: 1px;
    text-shadow: none;
    text-transform: uppercase;
    font-weight: normal;
    opacity: 0.5;
    display: block;
    margin-bottom: 3px;
  }

  .card-holder, .card-expiration-date {
    position: absolute;
    margin: 0 auto;
    top: 145px;
    left: 19px;
    font-family: "Verdana";
    font-size: 13px;
    text-transform: capitalize;
  }

  .card-expiration-date {
    text-align: right;
    left: auto;
    right: 20px;
  }

  .ccv {
    cursor: default;
    position: absolute;
    top: 110px;
    left: 0;
    right: 0;
    width: 91%;
    height: 36px;
    font-family: "Verdana";
    font-size: 13px;
    line-height: 1em;
    text-align: right;
    color: #3C3C3C;
    background: #fff;
    // border-radius: 5px;
    padding: 10px;
    margin: 0 auto;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: calc(100% - 70px);
      height: 100%;
      background: url("/assets/payment/cvv-image.svg") left center no-repeat #3c3c3c;
      background-size: cover;
    }

    label {
      margin: -25px 0 14px;
      color: #fff;
    }
  }
}
