/*Form settings*/

//Options
.cdk-overlay-container {
  position: fixed;
  z-index: 1000;
  transform: translateZ(1px);
  -webkit-transform: translateZ(1px);
}

.cdk-global-overlay-wrapper, .cdk-overlay-container {
  pointer-events: none;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.cdk-overlay-connected-position-bounding-box {
  position: absolute;
  z-index: 1000;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  min-width: 1px;
  min-height: 1px;
}

.cdk-overlay-backdrop {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  pointer-events: auto;
  -webkit-tap-highlight-color: transparent;
  -webkit-transition: opacity .4s cubic-bezier(.25,.8,.25,1);
  transition: opacity .4s cubic-bezier(.25,.8,.25,1);
  opacity: 0;
}

.cdk-global-overlay-wrapper, .cdk-overlay-pane {
  display: -webkit-box;
  display: flex;
  position: absolute;
  z-index: 1000;
}

.cdk-overlay-pane {
  pointer-events: auto;
  box-sizing: border-box;
  max-width: 100%;
  max-height: 100%;
}

.mat-select-panel {
  background: #fff;
}

.mat-select-panel {
  min-width: 112px;
  max-width: 280px;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  padding-top: 0;
  padding-bottom: 0;
  max-height: 256px;
  min-width: 100%;
  border-radius: 4px;
}

.mat-select-panel:not([class*=mat-elevation-z]) {
  box-shadow: 0 2px 4px -1px rgba(0,0,0,.2), 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12);
}

.mat-option {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  line-height: 48px;
  height: 48px;
  padding: 0 16px;
  text-align: left;
  text-decoration: none;
  max-width: 100%;
  position: relative;
  cursor: pointer;
  outline: none;
  display: flex;
  flex-direction: row;
  max-width: 100%;
  box-sizing: border-box;
  align-items: center;
  -webkit-tap-highlight-color: transparent;
}

.mat-option.mat-active, .mat-option.mat-selected:not(.mat-option-multiple):not(.mat-option-disabled), .mat-option:focus:not(.mat-option-disabled), .mat-option:hover:not(.mat-option-disabled) {
    background: rgba(0,0,0,.04);
}

.mat-form-field-label-wrapper {
  overflow: visible !important;
}

.mat-focused .mat-form-field-label, .mat-form-field-label:not(.mat-empty), .mat-form-field-label:not(.mat-form-field-empty){
  -webkit-transform: translateY(-1.28125em) scale(.75) perspective(100px) translateZ(.001px);
  transform: translateY(-1.28125em) scale(.75) perspective(100px) translateZ(.001px);
  -ms-transform: translateY(-1.28125em) scale(.75);
  width: 133.33333333%;
}

.mat-form-field-flex {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.mat-form-field-label-wrapper, .mat-form-field-label {
  cursor: text;
  pointer-events: all !important;
}

.select-field {

  .mat-form-field-label-wrapper, .mat-form-field-label {
    cursor: pointer;
  }
}

.mat-form-field-appearance-fill .mat-select-arrow-wrapper {
  transform: none !important;

  .mat-select-arrow {
    width: 20px;
    height: 20px;
    background: url('./assets/icos/arrow-down.svg') center center/cover no-repeat;
    border: none;
  }
}

//Fields
mat-form-field {
  position: relative;
  width: 100%;
}

mat-label {
  font-family: 'Verdana';
  font-size: 17px;
  color: #C9C9C9;

  // i {
  //   opacity: 0.3;
  //   &:hover {
  //     opacity: 1;
  //   }
  // }
}

.line {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 60px;
  &:first-child {
    margin-top: 0;
  }

  .full {
    width: 100%;
  }

  .medium {
    width: calc(50% - 10px);
  }

  @media (max-width: 991px) {
    margin-top: 40px;
  }
}

.error-message {
  pointer-events: none !important;
  position: absolute;
  top: 100%;
  left: 0;
  font-family: 'Verdana';
  font-size: 13px;
  color: #EB5757;
  margin-top: 5px;
}

.button-submit {
  display: flex;
  justify-content: flex-end;
  width: 100%;

  @media (max-width: 1199px) {
    justify-content: center;
  }
}

input, mat-select {
  font-size: 17px;
  color: #3C3C3C;
  padding-bottom: 5px !important;
}
