header {
  // overflow: hidden;
  width: 100%;
  height: 90px;
  background-color: #fff;
  border-bottom: 2px solid #b4b3b4;

  .container {
    position: relative;
    height: 100%;
  }

  .logo {
    width: 260px;

    img {
      width: 100%;
    }
  }

  .menu {

    ul {
      display: flex;
      padding: 0;
      margin: 0;

      li {
        display: block;
        width: 100px;
        height: 18px;
        background-color: #9c9c9c;
        border-radius: 5px;
        margin-right: 25px;
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }

  .hamburger-menu {
    display: none;
    cursor: pointer;
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 9999;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 35px;
    height: 30px;
    border-radius: 5px;
    &.open {

      .line {
        background-color: #fff;
        &:nth-child(1) {
          top: 4px;
          transform: rotate(45deg);
          -webkit-transform: rotate(45deg);
        }
        &:nth-child(2) {
          top: -3px;
          transform: rotate(-45deg);
          -webkit-transform: rotate(-45deg);
        }
        &:nth-child(3) {
          opacity: 0;
        }
      }
    }

    .line {
      position: relative;
      width: 20px;
      height: 3px;
      background-color: #DE4B4B;
      margin: 2px 0;
      border-radius: 3px;
      transition: 0.3s ease;
      -webkit-transition: 0.3s ease;
      transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
    }
  }

  @media (max-width: 991px) {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 991;
    height: 70px;

    .logo {
      width: 200px;
      margin: 0 auto;
    }

    .menu {
      position: fixed;
      top: 0;
      left: 0;
      z-index: 999;
      width: 100%;
      height: 100%;
      background-color: #DE4B4B;
      opacity: 0;
      visibility: hidden;
      transform: translateY(-30%);
      -webkit-transform: translateY(-30%);
      transition: 0.4s ease;
      -webkit-transition: 0.4s ease;
      &.open {
        opacity: 1;
        visibility: visible;
        transform: translateY(0%);
        -webkit-transform: translateY(0%);
      }

      ul {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;

        li {
          margin: 5px 0;
        }
      }
    }

    .hamburger-menu {
      display: flex;
    }
  }
}
