//General settings
html, body {
  width: 100%;
  min-height: 100%;
}

body {
  font-family: 'Verdana';
  background-color: #F7F7F7;

  @media (max-width: 991px) {
    padding-top: 70px;
  }
}

pre, p, li, input, button {
  font-family: 'Verdana';
}

pre {
  max-width: 100%;
  white-space: pre-line;
}

.ico-card {
  width: 35px;
  height: 35px;
  background: url("./assets/payment/credit-card-ico.svg") center center/contain no-repeat;
  margin-right: 10px;
}

.btn {
  outline: none !important;
  cursor: pointer;
  width: 100%;
  max-width: 246px;
  height: 51px;
  font-size: 17px;
  color: #fff !important;
  background-color: #DE4B4B;
  border-radius: 10px;
  box-shadow: none !important;

  &:hover {
    background-color: #3bde91;
  }
}
