#modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.3);
  transition: 0.3s;
  -webkit-transition: 0.3s;
  opacity: 0;
  visibility: hidden;
  &.show {
    opacity: 1;
    visibility: visible;
  }

  .content-modal {
    position: relative;
    width: 90%;
    max-width: 300px;
    text-align: center;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px 25px;
  }

  .close-modal {
    cursor: pointer;
    position: absolute;
    top: -30px;
    right: 0;
    width: 20px;
    height: 20px;
    font-size: 16px;
    text-align: center;
    line-height: 20px;
    color: #fff;
    background-color: #de4a4b;
    border-radius: 100%;
  }

  h6 {
    font-weight: 700;
    font-size: 18px;
    margin: 0 0 15px;
  }

  pre {
    font-size: 14px;
    margin: 0;
  }
}
